body, html {
    height: 100%;
    margin: 0;
}
.bg{
	/* The image used */
    background-image: url("../img/osman-rana-193635.jpg");

    /* Full height */
    height: 35%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}